<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.myshmeh.github.neterosetting.infrastructure.deliverable.setting.DeliverableSettingMapper">
    <insert id="register">
        insert into public.deliverable_setting (
            training_id,
            target,
            unit
        ) values (
            #{deliverableSetting.trainingID.value},
            #{deliverableSetting.deliverableTarget.value},
            #{deliverableSetting.deliverableUnit.value}
        )
    </insert>
</mapper>